<header>
  <div class="container-fluid py-2">
    <nav class="faqs-header-navbar">
      <a href="/" class="brand nav-link">
        <img src="/images/logo.png" alt="fmq">
      </a>
      <ul class="navbar faqs-header-navbar-item-right">
        <% include user %>
        <li class="faqs-header-nav-item">
          <a href="#" class="nav-link"><i class="fas fa-cog">&nbsp;</i></a>
        </li>
      </ul>
    </nav>
  </div>
</header>