<header style="z-index: 3;">
    <div class="faqs-header-container py-2">
        <nav class="faqs-header-navbar">
            <a class="nav-link faqs-link" href="/v2/project">
                <i class="fas fa-folder faqs-subheader-icons"></i>
                <span>My Projects</span>
            </a>
            <h5 class="text-center"><%= project.title %></h5>
            <ul class="navbar faqs-header-navbar-item-right">
                <% include user %>
                <li class="faqs-header-nav-item">
                    <a href="#" class="nav-link"><i class="fas fa-cog">&nbsp;</i></a>
                </li>
            </ul>
        </nav>
    </div>
</header>