<header>
    <div class="container-fluid">
        <nav class="navbar">
            <a href="/" class="brand">FAQs.ng</a>
            <ul class="nav ml-auto">
                <% if (user) { %> 
                <li class="nav-item m-auto"><a href="/v2/project" class="nav-link"><i class="fas fa-home">&nbsp;</i></a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link light dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false"><%= user.name %></a>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-20px, 40px, 0px);">
                        <a class="dropdown-item" href="/users/<%= user._id %>/myaccount">My Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="/users/logout">Logout</a>
                    </div>
                </li>
                <% } else { %> 
                    <li class="nav-item dropdown">
                        <a class="nav-link light dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                            aria-expanded="false">My Account</a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-20px, 40px, 0px);">
                            <a class="dropdown-item" href="/users/auth">Login</a>
                        </div>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>