<div class="faqs-subheader">
    <div class="list-group faqs-list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action show active" id="list-projects-list" data-toggle="list"
            href="#list-projects" role="tab" aria-controls="projects">
            <i class="fas fa-folder faqs-subheader-icons"></i>
            <span>My Projects</span>
        </a>
        <a class="list-group-item list-group-item-action" id="list-overview-list" data-toggle="list"
            href="#list-overview" role="tab" aria-controls="overview">
            <i class="fas fa-th-large faqs-subheader-icons"></i>
            <span>Project Overview</span> 
        </a>
    </div>
</div>