<% include ./partials/header %>
<div class="jumbotron w-100 h-100">
    <div class="container">
        <h2 class="text-center text-info m-auto">
            Frequently Asked Questions Answered
        </h2>
        <p class="text-danger text-center w-50 m-auto">
            Access thousands of Curated Questions and Answers about Institutions and Businesses in Nigeria
        </p>
        <div class="py-2" style="display: inline-flex;width: 100%;align-items: center;">
            <a href="/users/register" class="btn btn-info btn-rounded mx-auto">Get Started ></a>
        </div>
    </div>
</div>