<% include ./partials/header %>
<div class="faqs-container">
    <div class="faqs-subheader">
        <div class="list-group faqs-list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action show active" id="list-home-list" data-toggle="list"
                href="#list-home" role="tab" aria-controls="home">
                <i class="fas fa-folder faqs-subheader-icons"></i>
                My Projects
            </a>
            <a class="list-group-item list-group-item-action" id="list-tab-list" data-toggle="list" href="#list-tab" role="tab" aria-controls="tab">
                <i class="fas fa-th-large faqs-subheader-icons"></i>
                Project Overview
            </a>
        </div>
    </div>

    <!-- //Content Tab Pane -->
    <div class="tab-content faqs-tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, reiciendis recusandae impedit in natus tempore, vero cumque, obcaecati id veniam accusamus a! Ex blanditiis accusamus architecto, assumenda magnam modi doloribus natus corrupti enim quis inventore perferendis! Omnis, obcaecati vitae! Totam nesciunt nemo, quo sed asperiores voluptatibus provident consectetur ab nisi excepturi voluptas iure delectus voluptatem aut quam magnam nulla eos facilis dolor cupiditate mollitia. Tempore nobis repellat commodi optio ipsam ducimus maiores minus dolores voluptates. Placeat excepturi beatae maiores culpa quod veniam necessitatibus recusandae facilis qui cum? Earum debitis eius rerum consectetur incidunt. Eveniet voluptate perferendis assumenda ea provident quae quia architecto officia iusto iure. Sunt nobis veritatis architecto. Aut, odio dicta! Neque, officia delectus atque commodi dolor aliquam consectetur facilis omnis ipsa soluta debitis sit quae illo eius reprehenderit ullam pariatur inventore minima id cumque tempore quibusdam repudiandae culpa! Repudiandae itaque rerum porro numquam quo asperiores beatae provident necessitatibus.
      </div>
    </div>
</div>
<div class="jumbotron w-100 h-100">
    <div class="container">
        <h2 class="text-center text-info m-auto">
            Frequently Asked Questions Answered
        </h2>
        <p class="text-danger text-center w-50 m-auto">
            Access thousands of Curated Questions and Answers about Institutions and
            Businesses in Nigeria
        </p>
        <div class="py-2" style="display: inline-flex;width: 100%;align-items: center;">
            <a href="/users/auth" class="btn btn-info btn-rounded mx-auto">Get Started ></a>
        </div>
    </div>
</div>