<div class="classic">
<div class="container">
    <div class="card" style="display:block; max-width: 900px; margin: auto;">
        <div class="row m-0 p-0">
            <div class="col-md-5 p-0 m-0">
                <div class="rectangle ">
                    <img src="/images/login.png" alt="">
                </div>
            </div>
            <div class="col-md-7 p-0 m-0">
                    <div class="p-5">
                    
                        <h2 class="text-center mt-3">Login</h2>
                        <form action="/users/auth" method="POST" class="p-3">
                            <div class="form-group">
                                <label for="email">Your email</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Type your email address" />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Type your password" />
                            </div>
                            <button type="submit" class="fabtn fabtn-info" style="display:block;width: 100%;">LOG IN</button>
                        </form>
                    </div>
                <small class="card-footer">
                    New to FMQ? <a href="/users/register" class="text-danger">SIGN UP</a>
                </small>
            </div>
        </div>
    </div>
</div>
</div>