<div class="classic">
  <div class="container">
    <div class="card" style="display:block; max-width: 900px; margin: auto;">
      <div class="row m-0 p-0">
        <div class="col-md-7 p-0 m-0">
          <div class="p-5">
            <h2 class="text-center mt-3">Sign Up</h2>
            <form action="/users/auth" method="POST" class="p-3">
              <div class="form-group">
                <label for="email">Your Full Name</label>
                <input type="text" id="name" name="name" class="form-control"
                  placeholder="Type your full name here.." />
              </div>
              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" class="form-control"
                  placeholder="Type your email address" />
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                      placeholder="Type your password" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" id="cpassword" name="cpassword" class="form-control"
                      placeholder="Retype password" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="avatar">Profile Image</label>
                <input type="file" id="avatar" name="avatar" class="form-control" />
              </div>
              <div class="form-group">
                <button type="submit" class="fabtn fabtn-info" style="display:block;width: 100%;">SIGN UP</button>
              </div>

            </form>
          </div>
          <small class="card-footer">
            Already have an account? <a href="/users/auth" class="text-danger">LOG IN</a>
          </small>
        </div>
        <div class="col-md-5 p-0 m-0">
          <div class="rectangle ">
            <img src="/images/login.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>