.rectangle {
	display: block;
	background-image: linear-gradient(to bottom, #5c3dc6, #7552ef);
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.rectangle img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	margin: auto;
}
.card {
	overflow: hidden;
	border-radius: 7px;
	box-shadow: 0 19px 25px -17px rgba(149, 149, 149, 0.1);
	border: none;
}
.card-footer {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}