<div class="dashboard">
    <% include ../partials/sidebar %>
    <div class="side">
        <% include ../partials/head %>
        <main style="height: calc(100% - 59px);">
            <% if(typeof title !== 'undefined') { %>
            <%- include('./body/' + title) %>
            <% } %>
        </main>
    </div>
</div>