<div class="dashboard">
    <% include ../partials/sidebar %>
    <div class="side">
        <% include ../partials/head %>
        <main class="">
            <div class="container-fluid">
                <section>
                    <% if(typeof title !== 'undefined') { %>
                    <%- include('./body/' + title) %>
                    <% } %>
                </section>
            </div>
        </main>
    </div>
</div>