<div class="cover nav navbar">
    <h3 class="" style="text-transform:capitalize;">
        <%= title %>
    </h3>
</div>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
            aria-controls="nav-home" aria-selected="true">Overview</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row my-2">
            <div class="col-md-12">
                <button type="button" class="btn btn-info">
                    Categories 
                    <span class="badge badge-light">
                        <% if (typeof project !== 'undefined') { let len = project.category%> 
                            <%= len.length %>
                        <% } %>
                    </span>
                </button>
                <button type="button" class="btn btn-secondary">
                    All Questions 
                    <span class="badge badge-light">
                        <% if (typeof project !== 'undefined') { 
                            let category = project.category
                            let val = []
                            for(let i = 0; i < category.length; i++) {
                                val.push(category[i].question.length)
                            }
                            let total = val.reduce((a,b) => a + b, 0)
                            %> 
                            <%= total %>
                        <% } %>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <!-- <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div> -->
</div>