<section class="dash-content-lg">
    <div class="dash-body p-5">
        <div class="faqs-tab-bar mb-5">
            <small class="text-muted">search...</small>
            <a href="#modal" data-toggle="modal" class="fabtn fabtn-info">
                <i class="fas fa-plus"></i>
                <span>Add Question</span>
            </a>
        </div>
        <div class="questions">
            
        </div>
    </div>
    <div class="dash-side">
        <div class="das-side-content pt-5 pb-5 px-4">
        </div>
    </div>
</section>